body {
    width: 70%;
    margin: auto;
}

figure {
    margin: 15px;
    float: right;
    text-align: center;
    font-style: italic;
}

table, th, tr, td {
    border: 1px solid black;
}

h1, h2 {
    font-family: sans-serif;
    margin-top: 1.5em;
}

h1 {
    font-size: 32px;
}
